.label{
  margin-right: 10px;
}

:global(.ant-dropdown-menu ){
  max-height: 350px !important;
  overflow-y: scroll !important;
  overflow: -moz-scrollbars-vertical;
}

:global(.ant-dropdown-menu) {
  font-weight: bold;
  margin-left: 5px;
  padding-top: 5px;
}

:global(.ant-dropdown-menu)::-webkit-scrollbar {
  -webkit-appearance: none;
}

:global(.ant-dropdown-menu)::-webkit-scrollbar:vertical {
  width: 11px;
}

:global(.ant-dropdown-menu::-webkit-scrollbar:horizontal) {
  height: 11px;
}

:global(.ant-dropdown-menu)::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid white; /* should match background, can't be transparent */
  background-color: rgba(0, 0, 0, .5);
}
