.alertBanner {
  width: 100vw;
  position: relative;
  left: 50%;
  margin-left: -50vw;
  margin-top: -20px;
  margin-bottom: 20px !important;
  overflow: hidden;
}

.alertModalBanner {
  z-index: 1;
  position: absolute;
  width: 100%;
}
