.dashboardCard{
	margin-top: -8px;
	width: 520px;
	position: relative;
}

.heightSmall{
	height: 236px;
}

.heightDefault{
	height: 280px;
}

.dashboardBoarder{
	margin: 10px;
}


.threeKPI{
	margin-left: 30px;
}

.displayKPIS{
	width: 100%;	
}

.topKPI{
	margin-left: 150px;
}

.metricLabel {
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.verticalDivider {
    border-left: 1px solid #38546d;
    background: #16222c;
    width: 1px;
    height: 60px;
    margin-right: 10px;
}